<div class="main" *ngIf="status">
    <div class="data-box" (click)="loadDetails();">
        <span class="textData">Vivek</span>
    </div>
</div>

<div class="flex-main" *ngIf="detailStatus">
    <div class="info photo">
        <div class="demo"></div>
    </div>
    <div class="info details">
        <div class="specs">
            <span class="name">Starships</span>

            <div class="title">
                <span>Films:</span>
            </div>

            <div class="title">
                <span>Model:</span>
            </div>

            <div class="title">
                <span>Manufacture:</span>
            </div>

            <div class="title">
                <span>Cost:</span>
            </div>

        </div>
    </div>
</div>