<div class="flex-main">
    <div class="info photo">
        <div class="demo"></div>
    </div>
    <div class="info details">
        <div class="specs">
            <span class="name">Spiecies</span>

            <div class="title">
                <span>Deignation:</span>
            </div>

            <div class="title">
                <span>Films:</span>
            </div>

            <div class="title">
                <span>Planet:</span>
            </div>

            <div class="title">
                <span>People:</span>
            </div>

            <div class="title">
                <span>Skin Color:</span>
            </div>

            <div class="title">
                <span>Language:</span>
            </div>

        </div>
    </div>
</div>