<div class="main" *ngIf="status">
    <div class="data-box" (click)="loadDetails();">
        <span class="textData">Vivek</span>
    </div>
</div>

<div class="flex-main" *ngIf="detailStatus">
    <div class="info photo">
        <div class="demo"></div>
    </div>
    <div class="info details">
        <div class="specs">
            <span class="name">Film</span>

            <div class="title">
                <span>Species:</span>
            </div>

            <div class="title">
                <span>Vehicles:</span>
            </div>

            <div class="title">
                <span>Starship:</span>
            </div>

            <div class="title">
                <span>People:</span>
            </div>

            <div class="title">
                <span>Director:</span>
            </div>

            <div class="title">
                <span>Producer:</span>
            </div>

            <div class="title">
                <span>Release:</span>
            </div>

        </div>
    </div>
</div>