<body class="main">

    <div class="headerClass">
        <img src="../assets/icons/logo.png" alt="" class="logo">
    </div>
 
    
  
        <!-- <hr class="headerLine"> -->
<div class="headerLine"></div>

<div class="homePage">
    <div>
    <!-- <app-home-page *ngIf="homeStatus"></app-home-page>
    <app-detail-list *ngIf="listStatus"></app-detail-list> -->
    <app-load></app-load>
    </div>
    <!-- <div *ngIf="listComponent"></div> -->
</div>


    <div class="line"></div>

  <div class="footerClass">
  
    <div class="flex-main">
  
      <div class="logoFooter footerLogo"><img src="../assets/icons/footer_logo.png" alt=""></div>
  
      <div class="logoFooter links"><a href="https://www.robosoftin.com/"> TERMS OF USE</a></div>
      <div class="logoFooter links"><a href="https://www.robosoftin.com/"> LEGAL NOTICES</a></div>
      <div class="logoFooter links"><a href="https://www.robosoftin.com/"> PRIVACY POLICY</a></div>
      <div class="logoFooter links"><a href="https://www.robosoftin.com/"> STAR WARS HELPDESK</a></div>
      <div class="logoFooter links"><a href="https://www.robosoftin.com/"> STAR WARS AT DISNEY STORE</a></div>
      
      <div class="logoFooter"></div>
      
      <!-- <div class="linkClass">TERMS OF USE</div> -->
  
    </div>
  
    <div class="copyright">TM & &copy; Lucasfilm Ltd. All Rights Reserved</div>
  </div>
</body>   