.main{
    background-image: url('../assets/images/background.png');
    height: 100%;
}
.headerClass{
    height: 250px;
    background-color: transparent;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin: 80px 0 50px 0; */
}

.footerClass{
    height: 150px;

}
.flex-main{
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
}
.flex-main > .logoFooter{
    align-content: center;
}
.footerLogo{
    margin: -26px 0 0 404px;
}
.line{
    color: #054979;
    margin-bottom: 62px;
}
a{
    text-decoration: none;
}
.links{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    margin-top: 62px;
    margin-right: 44px;
    color:#1B6BA2;
}