<body class="main">

  <div class="headerClass">
      <img src="../assets/icons/logo.png" alt="" class="logo">
  </div>
 
  <div>

<!-- <app-main-page></app-main-page> -->

</div>
<div>
  <hr class="line">
</div>
<div class="footerClass">

  <div class="flex-main">

    <div class="logoFooter"><img src="../assets/icons/footer_logo.png" alt="" class="footerLogo"></div>

    <div class="logoFooter"><a href="https://www.robosoftin.com/" class="links"> TERMS OF USE</a></div>
    <div class="logoFooter"><a href="https://www.robosoftin.com/" class="links"> LEGAL NOTICES</a></div>
    <div class="logoFooter"><a href="https://www.robosoftin.com/" class="links"> PRIVACY POLICY</a></div>
    <div class="logoFooter"><a href="https://www.robosoftin.com/" class="links"> STAR WARS HELPDESK</a></div>
    <div class="logoFooter"><a href="https://www.robosoftin.com/" class="links"> STAR WARS AT DISNEY STORE</a></div>
    
    <div class="logoFooter"></div>
    
    <!-- <div class="linkClass">TERMS OF USE</div> -->

  </div>

  <div>copyrights</div>
</div>

<router-outlet></router-outlet>
 
</body>
