<div class="flex-main">
    <div class="info photo">
        <div class="demo"></div>
    </div>
    <div class="info details">
        <div class="specs">
            <span class="name">Planets</span>

            <div class="title">
                <span>Films:</span>
            </div>

            <div class="title">
                <span>People:</span>
            </div>

            <div class="title">
                <span>Polpulation:</span>
            </div>

            <div class="title">
                <span>Climate:</span>
            </div>

            <div class="title">
                <span>Terrain:</span>
            </div>

        </div>
    </div>
</div>