<div class="flex-main">
    <div class="info photo">
        <div class="demo"></div>
    </div>
    <div class="info details">
        <div class="specs">
            <span class="name">Vehicles</span>

            <div class="title">
                <span>Films:</span>
            </div>

            <div class="title">
                <span>Model:</span>
            </div>

            <div class="title">
                <span>Manufacture:</span>
            </div>

            <div class="title">
                <span>Cost:</span>
            </div>

        </div>
    </div>
</div>